# ============================================================================ #
# bazel
# ============================================================================ #

# The lock file stores exact versions of dependencies to ensure consistent builds.
# Keep this file in source control for now.
# See:
# - https://bazel.build/external/lockfile
# MODULE.bazel.lock

# These directories contain the output of Bazel builds.
bazel-*

# ============================================================================ #
# debug logs
# ============================================================================ #

# ordinary debug
out

# valgrind
valgrind-out.txt

# ============================================================================ #
# data directories
# ============================================================================ #

data/

# ============================================================================ #
# compile_commands.json for clangd
# ============================================================================ #

# compile_commands.json

# ============================================================================ #
# python
# ============================================================================ #

__pycache__

# ============================================================================ #
# cmake build artifacts
# ============================================================================ #

# build directory
build/

# graphviz output (generated by "cmake --preset=debug --graphviz=graph.dot")
graph.dot*


# ============================================================================ #
# book
# ============================================================================ #

# generated html
book/

# ============================================================================ #
# generated by clion (shit)
# ============================================================================ #

.idea/
cmake-build-*