name: build

on:
  push:
    branches: ["main"]

jobs:
  ci:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        run: wget -qO- https://astral.sh/uv/install.sh | sh
      - name: Lint
        run: uv run ./scripts/format/run-cpplint.py
      - name: Install Dependencies
        run: ./scripts/setup/install-deps.sh
      - name: Build
        run: ./scripts/setup/build.sh
      - name: Test
        run: ./scripts/test/test.sh