name: build

on:
  push:
    branches: ["main"]

jobs:
  ci:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
      - name: Check Environment
        run: ./scripts/build/check-env.py
      - name: Lint
        run: ./scripts/format/lint.sh
      - name: Install Dependencies
        run: ./scripts/build/install-deps.sh
      - name: Build
        run: ./scripts/build/build.sh
      - name: Test
        run: ./scripts/test/test.sh
# ref:
# - https://github.com/skyzh/mini-lsm/blob/main/.github/workflows/main.yml
# - https://github.com/actions/deploy-pages
# - https://github.com/actions/upload-pages-artifact
